* {
  margin: 0;
  font-family: "Sara", sans-serif;
}
.home-block {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
body {
  background-color: #f9f9c5;
}
/*blogs.js*/

.art-prev-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows: auto;
  margin-left: 70px;
  margin-right: 70px;
  grid-gap: 10px;
}

.art-prev-block {
  display: inline-grid;
  padding: 20px;
  color: #000;
  border: 10px solid #d9f8c4;
  font-size: 1.5rem;
  text-align: center;
  background-color: #d9f8c4;
}

.art-prev-link {
  text-decoration: none;
}

.art-prev-title {
  color: #f37878;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.art-prev-author {
  font-size: 1.4rem;
}

.art-prev-img {
  width: 20rem;
  border: 5px solid #f37878;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.art-prev-publishedAt {
  font-size: 1rem;
}

.art-prev-desc {
  padding: 10px;
  font-size: 1rem;
}

.art-prev-block:hover {
  background-color: #fad9a1;
  color: #f37878;
}

.url-preview {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #d9f8c4;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #f37878;
  color: white;
  text-align: center;
}

.total-results-container {
  display: flex;
  justify-content: center;
}

.total-results-prompt {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fad9a1;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;

  width: 170px;
  text-align: center;
}
